*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

body {
  padding: 5% 5%;
  background: #87c0d8;
  background: linear-gradient(to right,#11242c, #468592, #0b1d28);
  justify-content: center;
  align-items: center; 
  height: 100vh;
  color: #fff;
  overflow: hidden;
  
}

#title{
  text-align: center;
  margin-bottom: 5%;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  top: -24px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 75%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

#id{
  margin-bottom: 5%;
}

footer{
  text-align: center;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(+4rem);
  transform: translateY(+4rem);
}


.main-body{
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content:space-around;
}

a{
  color: white;
}

.right {
  right: 0px;
  width: 300px; 
}

@media (max-width: 576px) { 
  .form {
    width: 100%;
  }
 }
.abc{
  width: 50%;
}